## **IMPORT**

In [ ]:
!pip install rrcf

Collecting rrcf
  Downloading rrcf-0.4.4.tar.gz (14 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from rrcf) (1.23.5)
Building wheels for collected packages: rrcf
  Building wheel for rrcf (setup.py) ... done
  Created wheel for rrcf: filename=rrcf-0.4.4-py3-none-any.whl size=10601 sha256=b093777374ac88463421ac81dc4efff9d839c0196a848722b29ae4171184b4f3
  Stored in directory: /root/.cache/pip/wheels/51/d4/43/6ac8270752946ee2223022ce0ed0d66c9455d000e1facb53a6
Successfully built rrcf
Installing collected packages: rrcf
Successfully installed rrcf-0.4.4

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
from rrcf import RCTree, rrcf
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

## **DATA CLEANING & DATA IMPUTATION**

**FUCNTION THAT IMPUTES VALUES FOR COUNTRIES WITH MISSING YEARS**

Generates values for the missing years between 1900-2020 inclusive for a single country's dataset

**Inputs**: incomplete data set, name of country, code of country, and name of the colunm data to complete

**Outputs**: complete dataset (missing values are imputed)

In [ ]:
def fill_missing(country_missing, entity, region,code,what_is_missing):
    # Filter rows between years 1990 and 2021

    print("entity :",entity, "    code :",code)
    years_range = range(1990, 2021)
    filtered_years = country_missing[country_missing['Year'].isin(years_range)].sort_values('Year')
    print("Filtered years:",len(filtered_years))

    mean1 = filtered_years.loc[((country_missing['Year']>=1990) & (country_missing['Year']<2000) ),what_is_missing].mean()
    mean2 = filtered_years.loc[((country_missing['Year']>=2000) & (country_missing['Year']<2010) ),what_is_missing].mean()
    mean3 = filtered_years.loc[((country_missing['Year']>=2010) & (country_missing['Year']<=2020) ),what_is_missing].mean()
    # Create a DataFrame containing missing years

    if np.isnan(mean1):
        mean1=0
    if np.isnan(mean2):
        mean2=0
    if np.isnan(mean3):
        mean3=0
    totalMean = (mean1+mean2+mean3)/3
    if mean1==0:
        mean1=totalMean
    if mean2==0:
        mean2=totalMean
    if mean3==0:
        mean3=totalMean

    missing_values = pd.DataFrame({'Year': [year for year in years_range if year not in filtered_years['Year'].tolist()]})
    print("Missing years:",len(missing_values))
    missing_values['Entity']=entity
    missing_values['Code']=code
    missing_values['region']=region
    print("Edited mean1 :",mean1, "    mean2 :",mean2,"    mean3 :",mean3)
    # Reindex DataFrame with the column moved to the desired position
    new_columns = ['Entity','Code','region', 'Year']
    missing_values = missing_values.reindex(columns=new_columns)

    # Fill missing GDP values based on closest available values
    for index, row in missing_values.iterrows():

        prev_year=row['Year']
        prev_value=0
        next_year=row['Year']
        next_value=0
        if len(filtered_years[filtered_years['Year'] < row['Year']])>0:
            prev_year = filtered_years[filtered_years['Year'] < row['Year']].iloc[-1]['Year']
            prev_value = filtered_years[filtered_years['Year'] == prev_year][what_is_missing].values[0]

        else:
            prev_year = row['Year']
            prev_value =0


        if len(filtered_years[filtered_years['Year'] > row['Year']])>0:
            next_year = filtered_years[filtered_years['Year'] > row['Year']].iloc[0]['Year']

            next_value = filtered_years[filtered_years['Year'] == next_year][what_is_missing].values[0]

        else:
            next_year = row['Year']
            next_value =0


        # Calculate the GDP difference and distribute it among missing years
        value_difference = abs(next_value - prev_value)
        num_years_difference = abs(next_year - prev_year)
        if num_years_difference == 0:
            num_years_difference=1
        value_per_year_difference = value_difference / num_years_difference

        missing_values.loc[index, what_is_missing] = prev_value + ((row['Year'] - prev_year) * value_per_year_difference)

    # Concatenate the filtered DataFrame and missing_years DataFrame
    result_missing = pd.concat([filtered_years, missing_values]).sort_values('Year')
    print("length:",len(result_missing))


    result_missing.loc[((result_missing['Year']>=1990) & (result_missing['Year']<2000) &  (result_missing[what_is_missing]==0)),what_is_missing]=mean1
    result_missing.loc[((result_missing['Year']>=2000) & (result_missing['Year']<2010) &  (result_missing[what_is_missing]==0)),what_is_missing]=mean2
    result_missing.loc[((result_missing['Year']>=2010) & (result_missing['Year']<=2020) &  (result_missing[what_is_missing]==0)),what_is_missing]=mean3
    return result_missing

**FUNCTION THAT ADDS REGION FEATURE TO A DATASET**

Assigns a fifth column to the dataset of each region (according to The World Bank) based on the country of each row

**inputs**: orginal dataset

**outputs**: dataset with regions added

In [ ]:
def assign_regions(national_countries):
    regions = pd.read_csv("/content/world-regions-according-to-the-world-bank.csv")
    national_countries['region']='blank'
    all_countries = national_countries['Code'].unique()
    for code in all_countries:
        region_country = regions.loc[regions['Code']==code]

        if len(region_country) > 0:

            national_countries.loc[national_countries['Code']==code, 'region']=region_country['World Region according to the World Bank'].iloc[0]
    return national_countries

**FUNCTION THAT IMPUTES VALUES FOR MISSING COUNTRIES BASED ON REGION MEAN**

Creates new rows for any country misssing in the orignal dataset based on the mean of the region and the year of each row

**inputs**: dataset with missing countries, missing vlaues column,

**outputs**: completed dataset with every country

In [ ]:
def filling_country_by_region(totaldata, forth_column):
    world_regions = pd.read_csv("/content/world-regions-according-to-the-world-bank.csv")
    all_countries = world_regions['Code'].unique()
    for country in all_countries:
        if len(totaldata.loc[totaldata['Code']==country])==0 and len(world_regions.loc[world_regions['Code']==country])>0:
            print("country:",country ,"  ",world_regions.loc[world_regions['Code']==country])
            row = world_regions.loc[world_regions['Code']==country].head(1)
            entity = row['Entity'].values[0]
            region_v = row['World Region according to the World Bank'].values
            region = region_v[0]
            for year in  range(1990, 2021):
                test1 = totaldata.loc[totaldata['Year']==year]
                test2 = totaldata.loc[totaldata['region']==region]
                mean = totaldata.loc[(totaldata['Year']==year)&(totaldata['region']==region), forth_column].mean()

                data = {'Entity': [entity], 'Code': [country], 'region': [region], 'Year': [year], forth_column: [mean]}
                new_row = pd.DataFrame(data)
                totaldata = pd.concat([totaldata, new_row]).sort_values('Year')

    return totaldata

FUNCTION THAT REMOVES OUTLIERS

takes a dataset and removes outliers, nan and negative values changed to 0 and other outliers are completly removed uses Robust Random Cut Forest (based on chat gpt)

inputs: orginal dataset, missing values column

output:the orginal dataset with outliers removed

In [ ]:
def check_for_outlier_values(country,what_is_missing):
    for index, row in country.iterrows():
        if np.isnan(row[what_is_missing]) or row[what_is_missing] <0:
            country.loc[index, what_is_missing]=0
            row[what_is_missing] = 0
    data_array = country[what_is_missing].values[:, None]
    num_trees = 50
    forest = []
    for _ in range(num_trees):
        tree = RCTree()
        forest.append(tree)
    lenght=data_array.shape[0]
    for i in range(data_array.shape[0]):
        point = data_array[i]
        for tree in forest:
            tree.insert_point(point, index=i)
    avg_codisp = np.zeros(data_array.shape[0])
    index = np.zeros(data_array.shape[0])
    for tree in forest:
        for i in range(data_array.shape[0]):
            codisp = np.array(tree.codisp(i))
            avg_codisp += codisp
        index += 1
    avg_codisp /= index
    threshold = np.percentile(avg_codisp, 95)
    outliers = country[avg_codisp > threshold]
    if len(outliers) >0:
        print("Outliers:")
        print(outliers)
        print(len(country))
        country = country.drop(outliers, axis = 0).reset_index(drop=True)
        print(len(country))
    return country

**FUNCTION THAT GENERATES IMPUTED AND CLEANED DATASETS**

takes a dataset and fills in the missing values for each country and enusures rows and values are created for any countries missing in the orignal dataset

**inputs**: orginal dataset, missing values column, the filename it wants to save the new dataset as

In [ ]:
def complete_dateset(global_info,forth_column_name,save_file_name):
    complete_info = pd.DataFrame(columns=['Entity','Code','region', 'Year',forth_column_name])
    global_info = assign_regions(global_info)
    all_countries = global_info['Code'].unique()
    print('all countries', len(all_countries))
    for country in all_countries:
        country_info = global_info.loc[global_info['Code']==country]
        if len(country_info)>0:
            years_range = range(1990, 2021)
            country_info = country_info[country_info['Year'].isin(years_range)].sort_values('Year')
            country_info = check_for_outlier_values(country_info,forth_column_name)
            missing_info = fill_missing(country_info,country_info['Entity'].iloc[0] , country_info['region'].iloc[0] ,country,forth_column_name)
            complete_info = pd.concat([complete_info, missing_info]).sort_values('Code')
    print('all countries', len(complete_info['Code'].unique()))
    complete_info = filling_country_by_region(complete_info, forth_column_name)
    file_path = "/content/output/"+save_file_name+".csv"
    complete_info = complete_info.sort_values('Code')
    print('all countries', len(complete_info['Code'].unique()))
    complete_info.to_csv(file_path, index=False)

### **CLEANING EACH DATASET INDIVIDUALLY**

**CALLING THE ABOVE FUNCTIONS TO CLEAN/IMPUTE EACH DATASET**

Taking each original dataset, cleaning it, replacing missing values and
saving the completed version

In [ ]:
national_gdp= pd.read_csv("/content/national-gdp-constant-usd-wb.csv")
national_gdp.rename(columns = {'GDP (constant 2015 US$)':'GDP'}, inplace = True)sni
complete_dateset(national_gdp,'GDP','complete_gdp')

all countries 212
entity : Afghanistan     code : AFG
Filtered years: 19
Missing years: 12
Edited mean1 : 9859905988.636364     mean2 : 9984893875.0     mean3 : 19594824090.909092
length: 31
entity : Albania     code : ALB
Filtered years: 31
Missing years: 0
Edited mean1 : 4586803240.0     mean2 : 7974835000.0     mean3 : 11597895181.818182
length: 31
entity : Algeria     code : DZA
Filtered years: 31
Missing years: 0
Edited mean1 : 83400954500.0     mean2 : 118284566000.0     mean3 : 162031650000.0
length: 31
entity : American Samoa     code : ASM
Filtered years: 19
Missing years: 12
Edited mean1 : 462304133.0681818     mean2 : 732593883.75     mean3 : 654318515.4545455
length: 31
entity : Andorra     code : AND
Filtered years: 31
Missing years: 0
Edited mean1 : 1827964890.0     mean2 : 2883315110.0     mean3 : 2844400300.0
length: 31
entity : Angola     code : AGO
Filtered years: 31
Missing years: 0
Edited mean1 : 24999286600.0     mean2 : 46549870100.0     mean3 : 81097054909.09091
length: 31
entity : Antigua and Barbuda     code : ATG
Filtered years: 31
Missing years: 0
Edited mean1 : 854769241.0     mean2 : 1236389446.0     mean3 : 1354664954.5454545
length: 31
entity : Argentina     code : ARG
Filtered years: 31
Missing years: 0
Edited mean1 : 349149774000.0     mean2 : 433124926000.0     mean3 : 576044069090.909
length: 31
entity : Armenia     code : ARM
Filtered years: 31
Missing years: 0
Edited mean1 : 3669915390.0     mean2 : 6712579500.0     mean3 : 10576538000.0
length: 31
entity : Aruba     code : ABW
Filtered years: 31
Missing years: 0
Edited mean1 : 2053284650.0     mean2 : 2810077500.0     mean3 : 2948500727.2727275
length: 31
entity : Australia     code : AUS
Filtered years: 31
Missing years: 0
Edited mean1 : 708261008000.0     mean2 : 1011043465000.0     mean3 : 1350738109090.9092
length: 31
entity : Austria     code : AUT
Filtered years: 31
Missing years: 0
Edited mean1 : 267654537000.0     mean2 : 338344598000.0     mean3 : 385857640909.0909
length: 31
entity : Azerbaijan     code : AZE
Filtered years: 31
Missing years: 0
Edited mean1 : 12431090190.0     mean2 : 24740294600.0     mean3 : 50875283363.63636
length: 31
entity : Bahamas     code : BHS
Filtered years: 31
Missing years: 0
Edited mean1 : 8748891700.0     mean2 : 11369568600.0     mean3 : 11667836272.727272
length: 31
entity : Bahrain     code : BHR
Filtered years: 31
Missing years: 0
Edited mean1 : 12149190200.0     mean2 : 19685984500.0     mean3 : 30790165181.81818
length: 31
entity : Bangladesh     code : BGD
Filtered years: 31
Missing years: 0
Edited mean1 : 65008380800.0     mean2 : 106658547500.0     mean3 : 200489360000.0
length: 31
entity : Barbados     code : BRB
Filtered years: 31
Missing years: 0
Edited mean1 : 3863388640.0     mean2 : 4671717940.0     mean3 : 4688928154.545455
length: 31
entity : Belarus     code : BLR
Filtered years: 31
Missing years: 0
Edited mean1 : 24020459100.0     mean2 : 36957976700.0     mean3 : 56978478363.63636
length: 31
entity : Belgium     code : BEL
Filtered years: 31
Missing years: 0
Edited mean1 : 317288421000.0     mean2 : 398000316000.0     mean3 : 461060350909.0909
length: 31
entity : Belize     code : BLZ
Filtered years: 31
Missing years: 0
Edited mean1 : 1004727254.0     mean2 : 1697283910.0     mean3 : 2093882681.8181818
length: 31
entity : Benin     code : BEN
Filtered years: 31
Missing years: 0
Edited mean1 : 4816765300.0     mean2 : 7539236290.0     mean3 : 11613575181.818182
length: 31
entity : Bermuda     code : BMU
Filtered years: 31
Missing years: 0
Edited mean1 : 5393859340.0     mean2 : 7601838030.0     mean3 : 6844633563.636364
length: 31
entity : Bhutan     code : BTN
Filtered years: 31
Missing years: 0
Edited mean1 : 497537223.0     mean2 : 977715199.0     mean3 : 2004505445.4545455
length: 31
entity : Bolivia     code : BOL
Filtered years: 31
Missing years: 0
Edited mean1 : 14442978500.0     mean2 : 20210442400.0     mean3 : 32252451363.636364
length: 31
entity : Bosnia and Herzegovina     code : BIH
Filtered years: 27
Missing years: 4
Edited mean1 : 6086367566.666667     mean2 : 13002776000.0     mean3 : 16478672090.90909
length: 31
entity : Botswana     code : BWA
Filtered years: 31
Missing years: 0
Edited mean1 : 6592820400.0     mean2 : 10027377500.0     mean3 : 13922681181.818182
length: 31
entity : Brazil     code : BRA
Filtered years: 31
Missing years: 0
Edited mean1 : 1030871415000.0     mean2 : 1367874860000.0     mean3 : 1789506927272.7273
length: 31
entity : Brunei     code : BRN
Filtered years: 31
Missing years: 0
Edited mean1 : 10238913100.0     mean2 : 12452031100.0     mean3 : 13107985363.636364
length: 31
entity : Bulgaria     code : BGR
Filtered years: 31
Missing years: 0
Edited mean1 : 33252401300.0     mean2 : 39161623100.0     mean3 : 51582915090.90909
length: 31
entity : Burkina Faso     code : BFA
Filtered years: 31
Missing years: 0
Edited mean1 : 3842236730.0     mean2 : 6732128040.0     mean3 : 12142334727.272728
length: 31
entity : Burundi     code : BDI
Filtered years: 31
Missing years: 0
Edited mean1 : 2197587570.0     mean2 : 2217675110.0     mean3 : 3063094363.6363635
length: 31
entity : Cambodia     code : KHM
Filtered years: 28
Missing years: 3
Edited mean1 : 4680522042.857142     mean2 : 8953790960.0     mean3 : 18246832363.636364
length: 31
entity : Cameroon     code : CMR
Filtered years: 31
Missing years: 0
Edited mean1 : 14710885000.0     mean2 : 21077846100.0     mean3 : 31864031545.454544
length: 31
entity : Canada     code : CAN
Filtered years: 24
Missing years: 7
Edited mean1 : 1057059023333.3334     mean2 : 1291014400000.0     mean3 : 1552580045454.5454
length: 31
entity : Cape Verde     code : CPV
Filtered years: 31
Missing years: 0
Edited mean1 : 467501283.0     mean2 : 1126273768.0     mean3 : 1645302945.4545455
length: 31
entity : Cayman Islands     code : CYM
Filtered years: 15
Missing years: 16
Edited mean1 : 3139561990.9090905     mean2 : 4649277100.0     mean3 : 4769408872.727273
length: 31
entity : Central African Republic     code : CAF
Filtered years: 31
Missing years: 0
Edited mean1 : 1525649890.0     mean2 : 1882794960.0     mean3 : 1983021172.7272727
length: 31
entity : Chad     code : TCD
Filtered years: 31
Missing years: 0
Edited mean1 : 2823269580.0     mean2 : 5632744250.0     mean3 : 9965549454.545454
length: 31
entity : Chile     code : CHL
Filtered years: 31
Missing years: 0
Edited mean1 : 101113851000.0     mean2 : 161399691500.0     mean3 : 237917020000.0
length: 31
entity : China     code : CHN
Filtered years: 31
Missing years: 0
Edited mean1 : 1751155926000.0     mean2 : 4478304710000.0     mean3 : 11148794000000.0
length: 31
entity : Colombia     code : COL
Filtered years: 31
Missing years: 0
Edited mean1 : 142181918000.0     mean2 : 187586818000.0     mean3 : 284439950000.0
length: 31
entity : Comoros     code : COM
Filtered years: 31
Missing years: 0
Edited mean1 : 547053891.0     mean2 : 716844910.0     mean3 : 976804952.7272727
length: 31
entity : Congo     code : COG
Filtered years: 31
Missing years: 0
Edited mean1 : 5831553640.0     mean2 : 7666551600.0     mean3 : 10676492090.90909
length: 31
entity : Costa Rica     code : CRI
Filtered years: 31
Missing years: 0
Edited mean1 : 23829807300.0     mean2 : 37256081300.0     mean3 : 56333725636.36364
length: 31
entity : Cote d'Ivoire     code : CIV
Filtered years: 31
Missing years: 0
Edited mean1 : 25405581400.0     mean2 : 29697646600.0     mean3 : 46310814454.545456
length: 31
entity : Croatia     code : HRV
Filtered years: 26
Missing years: 5
Edited mean1 : 36662811200.0     mean2 : 47665006000.0     mean3 : 51797197636.36364
length: 31
entity : Cuba     code : CUB
Filtered years: 31
Missing years: 0
Edited mean1 : 41302839900.0     mean2 : 58383487000.0     mean3 : 84305501272.72728
length: 31
entity : Curacao     code : CUW
Filtered years: 21
Missing years: 10
Edited mean1 : 1962729576.060606     mean2 : 2943871210.0     mean3 : 2944317518.181818
length: 31
entity : Cyprus     code : CYP
Filtered years: 31
Missing years: 0
Edited mean1 : 12089536700.0     mean2 : 18601011600.0     mean3 : 21763233181.81818
length: 31
entity : Czechia     code : CZE
Filtered years: 31
Missing years: 0
Edited mean1 : 114449039000.0     mean2 : 150333041000.0     mean3 : 189871570909.0909
length: 31
entity : Democratic Republic of Congo     code : COD
Filtered years: 31
Missing years: 0
Edited mean1 : 21664334300.0     mean2 : 19697912500.0     mean3 : 36462972000.0
length: 31
entity : Denmark     code : DNK
Filtered years: 31
Missing years: 0
Edited mean1 : 224488612000.0     mean2 : 277538360000.0     mean3 : 306315154545.4545
length: 31
entity : Djibouti     code : DJI
Filtered years: 8
Missing years: 23
Edited mean1 : 878520295.8333334     mean2 : 878520295.8333334     mean3 : 2635560887.5
length: 31
entity : Dominica     code : DMA
Filtered years: 31
Missing years: 0
Edited mean1 : 381074199.0     mean2 : 469656554.0     mean3 : 536337757.27272725
length: 31
entity : Dominican Republic     code : DOM
Filtered years: 31
Missing years: 0
Edited mean1 : 26154452900.0     mean2 : 42749726500.0     mean3 : 71432888090.90909
length: 31
entity : East Timor     code : TLS
Filtered years: 21
Missing years: 10
Edited mean1 : 865696852.969697     mean2 : 949730068.0     mean3 : 1647360490.909091
length: 31
entity : Ecuador     code : ECU
Filtered years: 31
Missing years: 0
Edited mean1 : 49659605300.0     mean2 : 65471053600.0     mean3 : 95170994090.90909
length: 31
entity : Egypt     code : EGY
Filtered years: 31
Missing years: 0
Edited mean1 : 136698182500.0     mean2 : 218049866000.0     mean3 : 338428952727.2727
length: 31
entity : El Salvador     code : SLV
Filtered years: 31
Missing years: 0
Edited mean1 : 15234031800.0     mean2 : 19014732100.0     mean3 : 23281763181.81818
length: 31
entity : Equatorial Guinea     code : GNQ
Filtered years: 31
Missing years: 0
Edited mean1 : 764474704.0     mean2 : 8727324980.0     mean3 : 12532696090.90909
length: 31
entity : Eritrea     code : ERI
Filtered years: 20
Missing years: 11
Edited mean1 : 1664966550.0     mean2 : 2069873070.0     mean3 : 2163018050.0
length: 31
entity : Estonia     code : EST
Filtered years: 26
Missing years: 5
Edited mean1 : 11702472400.0     mean2 : 18560569700.0     mean3 : 23372824454.545456
length: 31
entity : Eswatini     code : SWZ
Filtered years: 31
Missing years: 0
Edited mean1 : 2129706100.0     mean2 : 2936130420.0     mean3 : 4019149109.090909
length: 31
entity : Ethiopia     code : ETH
Filtered years: 31
Missing years: 0
Edited mean1 : 14005348000.0     mean2 : 24208510000.0     mean3 : 65782193272.72727
length: 31
entity : Fiji     code : FJI
Filtered years: 31
Missing years: 0
Edited mean1 : 2936770970.0     mean2 : 3648513240.0     mean3 : 4544105209.090909
length: 31
entity : Finland     code : FIN
Filtered years: 31
Missing years: 0
Edited mean1 : 157496573000.0     mean2 : 220018622000.0     mean3 : 241536821818.18182
length: 31
entity : France     code : FRA
Filtered years: 31
Missing years: 0
Edited mean1 : 1775289550000.0     mean2 : 2201333500000.0     mean3 : 2444588609090.909
length: 31
entity : French Polynesia     code : PYF
Filtered years: 31
Missing years: 0
Edited mean1 : 5798683300.0     mean2 : 6115380390.0     mean3 : 5407012927.272727
length: 31
entity : Gabon     code : GAB
Filtered years: 31
Missing years: 0
Edited mean1 : 9395972160.0     mean2 : 10184775000.0     mean3 : 13827556090.90909
length: 31
entity : Gambia     code : GMB
Filtered years: 31
Missing years: 0
Edited mean1 : 782915589.0     mean2 : 1091990880.0     mean3 : 1433187881.8181818
length: 31
entity : Georgia     code : GEO
Filtered years: 31
Missing years: 0
Edited mean1 : 7623463160.0     mean2 : 8903594140.0     mean3 : 14898786363.636364
length: 31
entity : Germany     code : DEU
Filtered years: 31
Missing years: 0
Edited mean1 : 2563941990000.0     mean2 : 2949974780000.0     mean3 : 3363507236363.636
length: 31
entity : Ghana     code : GHA
Filtered years: 31
Missing years: 0
Edited mean1 : 16092975100.0     mean2 : 25498805200.0     mean3 : 50375079090.90909
length: 31
entity : Greece     code : GRC
Filtered years: 31
Missing years: 0
Edited mean1 : 171723665000.0     mean2 : 238818965000.0     mean3 : 202135000909.0909
length: 31
entity : Greenland     code : GRL
Filtered years: 31
Missing years: 0
Edited mean1 : 1493884960.0     mean2 : 2056897610.0     mean3 : 2559956745.4545455
length: 31
entity : Grenada     code : GRD
Filtered years: 31
Missing years: 0
Edited mean1 : 551760604.0     mean2 : 818421112.0     mean3 : 975710917.2727273
length: 31
entity : Guam     code : GUM
Filtered years: 19
Missing years: 12
Edited mean1 : 3602149302.6515145     mean2 : 5136389162.5     mean3 : 5670058745.454545
length: 31
entity : Guatemala     code : GTM
Filtered years: 31
Missing years: 0
Edited mean1 : 29915897600.0     mean2 : 43244684000.0     mean3 : 61575684363.63636
length: 31
entity : Guinea     code : GIN
Filtered years: 31
Missing years: 0
Edited mean1 : 4224178220.0     mean2 : 5985254840.0     mean3 : 9491659236.363636
length: 31
entity : Guinea-Bissau     code : GNB
Filtered years: 31
Missing years: 0
Edited mean1 : 729593285.0     mean2 : 754239030.0     mean3 : 1070294294.5454545
length: 31
entity : Guyana     code : GUY
Filtered years: 31
Missing years: 0
Edited mean1 : 2415732070.0     mean2 : 3097367480.0     mean3 : 4584310936.363636
length: 31
entity : Haiti     code : HTI
Filtered years: 31
Missing years: 0
Edited mean1 : 10475176200.0     mean2 : 11950505000.0     mean3 : 14577945181.818182
length: 31
entity : Honduras     code : HND
Filtered years: 31
Missing years: 0
Edited mean1 : 9752357140.0     mean2 : 14513303300.0     mean3 : 20975570545.454544
length: 31
entity : Hong Kong     code : HKG
Filtered years: 31
Missing years: 0
Edited mean1 : 151112997000.0     mean2 : 215430324000.0     mean3 : 305666454545.4545
length: 31
entity : Hungary     code : HUN
Filtered years: 30
Missing years: 1
Edited mean1 : 80243742222.22223     mean2 : 108191537000.0     mean3 : 126691420909.09091
length: 31
entity : Iceland     code : ISL
Filtered years: 26
Missing years: 5
Edited mean1 : 10195010200.0     mean2 : 14240940600.0     mean3 : 17830374000.0
length: 31
entity : India     code : IND
Filtered years: 31
Missing years: 0
Edited mean1 : 588825461000.0     mean2 : 1074229796000.0     mean3 : 2110396790909.0908
length: 31
entity : Indonesia     code : IDN
Filtered years: 31
Missing years: 0
Edited mean1 : 351697013000.0     mean2 : 494349050000.0     mean3 : 862776615454.5454
length: 31
entity : Iran     code : IRN
Filtered years: 31
Missing years: 0
Edited mean1 : 220705361000.0     mean2 : 326248212000.0     mean3 : 424432701818.1818
length: 31
entity : Iraq     code : IRQ
Filtered years: 31
Missing years: 0
Edited mean1 : 49481097200.0     mean2 : 97112195500.0     mean3 : 166432275454.54544
length: 31
entity : Ireland     code : IRL
Filtered years: 31
Missing years: 0
Edited mean1 : 104415736500.0     mean2 : 197148606000.0     mean3 : 283705522727.2727
length: 31
entity : Isle of Man     code : IMN
Filtered years: 30
Missing years: 1
Edited mean1 : 2342068070.0     mean2 : 4596745980.0     mean3 : 7119353340.0
length: 31
entity : Israel     code : ISR
Filtered years: 26
Missing years: 5
Edited mean1 : 157411878000.0     mean2 : 206198463000.0     mean3 : 307032707272.7273
length: 31
entity : Italy     code : ITA
Filtered years: 31
Missing years: 0
Edited mean1 : 1652370880000.0     mean2 : 1912363240000.0     mean3 : 1861464127272.7273
length: 31
entity : Jamaica     code : JAM
Filtered years: 31
Missing years: 0
Edited mean1 : 12334281400.0     mean2 : 13866936000.0     mean3 : 14173370000.0
length: 31
entity : Japan     code : JPN
Filtered years: 31
Missing years: 0
Edited mean1 : 3755071770000.0     mean2 : 4142950460000.0     mean3 : 4404196045454.546
length: 31
entity : Jordan     code : JOR
Filtered years: 31
Missing years: 0
Edited mean1 : 14868602200.0     mean2 : 24837221100.0     mean3 : 38221254000.0
length: 31
entity : Kazakhstan     code : KAZ
Filtered years: 31
Missing years: 0
Edited mean1 : 69336599100.0     mean2 : 104328708600.0     mean3 : 182709293636.36365
length: 31
entity : Kenya     code : KEN
Filtered years: 31
Missing years: 0
Edited mean1 : 32788355000.0     mean2 : 43534701100.0     mean3 : 70327614363.63637
length: 31
entity : Kiribati     code : KIR
Filtered years: 31
Missing years: 0
Edited mean1 : 115284899.0     mean2 : 137607720.4     mean3 : 162344185.45454547
length: 31
entity : Kosovo     code : OWID_KOS
Filtered years: 13
Missing years: 18
Edited mean1 : 3667704560.6060605     mean2 : 4695945700.0     mean3 : 6307167981.818182
length: 31
entity : Kuwait     code : KWT
Filtered years: 29
Missing years: 2
Edited mean1 : 53269359625.0     mean2 : 83650231800.0     mean3 : 110809994545.45454
length: 31
entity : Kyrgyzstan     code : KGZ
Filtered years: 31
Missing years: 0
Edited mean1 : 3597234790.0     mean2 : 4291598560.0     mean3 : 6610372245.454545
length: 31
entity : Laos     code : LAO
Filtered years: 31
Missing years: 0
Edited mean1 : 3620256120.0     mean2 : 6761828620.0     mean3 : 14465246000.0
length: 31
entity : Latvia     code : LVA
Filtered years: 26
Missing years: 5
Edited mean1 : 13708076000.0     mean2 : 22302366900.0     mean3 : 27149538727.272728
length: 31
entity : Lebanon     code : LBN
Filtered years: 31
Missing years: 0
Edited mean1 : 20371935500.0     mean2 : 31707149900.0     mean3 : 47350070636.36364
length: 31
entity : Lesotho     code : LSO
Filtered years: 31
Missing years: 0
Edited mean1 : 1219993834.0     mean2 : 1668877640.0     mean3 : 2267220681.818182
length: 31
entity : Liberia     code : LBR
Filtered years: 21
Missing years: 10
Edited mean1 : 1715669503.030303     mean2 : 2063856800.0     mean3 : 3083151709.090909
length: 31
entity : Libya     code : LBY
Filtered years: 22
Missing years: 9
Edited mean1 : 55536740000.0     mean2 : 69959339500.0     mean3 : 59332725454.545456
length: 31
entity : Liechtenstein     code : LIE
Filtered years: 1
Missing years: 30
Edited mean1 : 2089463800.0     mean2 : 2089463800.0     mean3 : 6268391400.0
length: 31
entity : Lithuania     code : LTU
Filtered years: 26
Missing years: 5
Edited mean1 : 20151942600.0     mean2 : 30998505200.0     mean3 : 41751517090.90909
length: 31
entity : Luxembourg     code : LUX
Filtered years: 31
Missing years: 0
Edited mean1 : 30672797800.0     mean2 : 47176994500.0     mean3 : 60323366545.454544
length: 31
entity : Macao     code : MAC
Filtered years: 31
Missing years: 0
Edited mean1 : 12821074100.0     mean2 : 22547114300.0     mean3 : 47544717727.27273
length: 31
entity : Madagascar     code : MDG
Filtered years: 31
Missing years: 0
Edited mean1 : 6536345990.0     mean2 : 8656936000.0     mean3 : 11399389090.90909
length: 31
entity : Malawi     code : MWI
Filtered years: 31
Missing years: 0
Edited mean1 : 2714769480.0     mean2 : 3750674470.0     mean3 : 6375881181.818182
length: 31
entity : Malaysia     code : MYS
Filtered years: 31
Missing years: 0
Edited mean1 : 109951252300.0     mean2 : 182846209000.0     mean3 : 300059863636.36365
length: 31
entity : Maldives     code : MDV
Filtered years: 26
Missing years: 5
Edited mean1 : 1643840360.0     mean2 : 2420457700.0     mean3 : 4086163336.3636365
length: 31
entity : Mali     code : MLI
Filtered years: 31
Missing years: 0
Edited mean1 : 5083074490.0     mean2 : 8522887230.0     mean3 : 13295786090.90909
length: 31
entity : Malta     code : MLT
Filtered years: 31
Missing years: 0
Edited mean1 : 4539302250.0     mean2 : 7322123640.0     mean3 : 11064805390.90909
length: 31
entity : Marshall Islands     code : MHL
Filtered years: 31
Missing years: 0
Edited mean1 : 155025359.0     mean2 : 165872800.0     mean3 : 190518563.63636363
length: 31
entity : Mauritania     code : MRT
Filtered years: 31
Missing years: 0
Edited mean1 : 3169310150.0     mean2 : 4131215080.0     mean3 : 6139709727.272727

In [ ]:
national_population= pd.read_csv("/content/population.csv")
national_population.rename(columns = {'Population (historical estimates)':'Population'}, inplace = True)
complete_dateset(national_population,'Population','complete_population')

In [ ]:
national_birth_rate= pd.read_csv("/content/crude-birth-rate.csv")
national_birth_rate.rename(columns = {'Birth rate - Sex: all - Age: all - Variant: estimates':'Birth rate(pre 1000)'}, inplace = True)
complete_dateset(national_birth_rate,'Birth rate(pre 1000)','complete_birth_rate')

In [ ]:
national_fertility_rate= pd.read_csv("/content/children-born-per-woman.csv")
national_fertility_rate.rename(columns = {'Fertility rate (Select Gapminder, v12) (2017)':'Fertility rate'}, inplace = True)
complete_dateset(national_fertility_rate,'Fertility rate','complete_fertility_rate')

In [ ]:
national_gdp_per_capita = pd.read_csv("/content/gdp-per-capita-worldbank.csv")
national_gdp_per_capita.rename(columns = {'GDP per capita, PPP (constant 2017 international $)':'GDP per capita'}, inplace = True)
complete_dateset(national_gdp_per_capita,'GDP per capita','complete_gdp_per_capita')

In [ ]:
national_mortality_rate = pd.read_csv("/content/age-standardized-deaths-from-all-causes.csv")
national_mortality_rate.rename(columns = {'Deaths - All causes - Sex: Both - Age: Age-standardized (Rate)':'Death rate'}, inplace = True)
complete_dateset(national_mortality_rate,'Death rate','complete_mortality_rate')

In [ ]:
national_child_mortality = pd.read_csv("/content/fertility-vs-child-mortality.csv")
national_child_mortality.drop(columns= ["Fertility rate - Sex: all - Age: all - Variant: estimates", "Population (historical estimates)","Continent"], inplace = True)
national_child_mortality.rename(columns = {'Child mortality rate - Sex: all - Age: 0-4 - Variant: estimates':'Child mortality rate %'}, inplace = True)
complete_dateset(national_child_mortality,'Child mortality rate %','complete_child_mortality')

In [ ]:
national_life_expectancy = pd.read_csv("/content/life-expectancy.csv")
national_life_expectancy.rename(columns = {'Period life expectancy at birth - Sex: all - Age: 0':'Period life expectancy'}, inplace = True)
complete_dateset(national_life_expectancy,'Period life expectancy','complete_life_expectancy')

In [ ]:
national_urban_population= pd.read_csv("/content/urban-and-rural-population.csv")
national_urban_population.drop(columns= ["Rural population"], inplace = True)
complete_dateset(national_urban_population,'Urban population','complete_urban_population')

In [ ]:
national_rural_population= pd.read_csv("/content/urban-and-rural-population.csv")
national_rural_population.drop(columns= ["Urban population"], inplace = True)
complete_dateset(national_rural_population,'Rural population','complete_rural_population')

In [ ]:
national_female_labor_force= pd.read_csv("/content/female-labor-force-participation-rates.csv")
national_female_labor_force.rename(columns = {'Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)':'female labor force participation rate'}, inplace = True)
complete_dateset(national_female_labor_force,'female labor force participation rate','complete_female_labor_force')

In [ ]:
national_schooling= pd.read_csv("/content/mean-years-of-schooling-long-run.csv")
national_schooling.rename(columns = {'Combined - average years of education for 15-64 years male and female youth and adults':'Average years of education'}, inplace = True)
complete_dateset(national_schooling,'Average years of education','complete_schooling')

In [ ]:
national_consumer= pd.read_csv("/content/consumer-price-index.csv")
national_consumer.rename(columns = {'Consumer price index (2010 = 100)':'Consumer price index'}, inplace = True)
complete_dateset(national_consumer,'Consumer price index','complete_consumer')

**DATA INTEGRATION**

integrate (200) datasets for individual country religion statistics into a single dataset for all countries

In [ ]:
complete_religious= pd.DataFrame(columns=['Entity','Code','Year','Atheists'])

national_gdp= pd.read_csv("/content/output/complete_gdp.csv")
all_countries = national_gdp['Entity'].unique()
print('all countries', len(all_countries))
for country in all_countries:
  database_name= '/content/religion_data_sets/'+country + '_ Largest Religious Groups  (1900 - 2050) (World Religion Database, 2020).csv'
  if country !='World' and type(country)==str and os.path.exists(database_name):
    #print(type(country)," ",country)
    national_religion= pd.read_csv(database_name)
    national_religion.rename(columns = {'YEAR':'Year'}, inplace = True)
    if "R704" in national_religion.columns:
        national_religion.rename(columns = {'R704':'Atheists'}, inplace = True)
    else:
        national_religion['Atheists']=0
    columns_religion = national_religion.loc[:, (national_religion.columns != 'Atheists' )&(national_religion.columns != 'Year')]
    national_religion.drop(columns=columns_religion, inplace = True)

    national_religion["Entity"]= country
    print("Entity", national_religion["Entity"].iloc[0])
    code = national_gdp.loc[national_gdp['Entity']==country, 'Code']
    national_religion["Code"]= code.iloc[0]
    national_religion.rename(columns = {'YEAR':'Year'}, inplace = True)


    new_columns = ['Entity','Code','Year','Atheists']
    national_religion = national_religion.reindex(columns=new_columns)
    complete_religious= pd.concat([complete_religious, national_religion]).sort_values('Code')

complete_religious.to_csv('/content/output/complete_religious.csv', index=False)

In [ ]:
national_atheists= pd.read_csv("/content/output/complete_religious.csv")
national_atheists.rename(columns = {'Atheists':'Atheists rate'}, inplace = True)
complete_dateset(national_atheists,'Atheists rate','complete_atheists')

In [ ]:

# # transform columns in the education dataframe to facilitate entity linkage
# # Split the column into multiple columns
# education_df[['Entity', 'Code', 'Year', 'avg_years_of_schooling']] = education_df['Entity;Code;Year;avg_years_of_schooling'].str.split(';', expand=True)

# # Drop the original column
# education_df = education_df.drop('Entity;Code;Year;avg_years_of_schooling', axis=1)

# #convert the type of Year column to int
# education_df['Year'] = education_df['Year'].astype(int)

**READ COMPLETED DATASETS**

these datasets have been cleaned and imputed

before running this code create a folder called **"output"**. The files will be saved to that folder.

In [ ]:
complete_athetits= pd.read_csv("/content/output/complete_atheists.csv")
complete_birth_rate= pd.read_csv("/content/output/complete_birth_rate.csv")
complete_child_mortality= pd.read_csv("/content/output/complete_child_mortality.csv")
complete_consumer= pd.read_csv("/content/output/complete_consumer.csv")
complete_female_labor_force= pd.read_csv("/content/output/complete_female_labor_force.csv")
complete_fertility_rate= pd.read_csv("/content/output/complete_fertility_rate.csv")
complete_gdp= pd.read_csv("/content/output/complete_gdp.csv")
complete_gdp_per_capita= pd.read_csv("/content/output/complete_gdp_per_capita.csv")
complete_life_expectancy= pd.read_csv("/content/output/complete_life_expectancy.csv")
complete_mortality_rate= pd.read_csv("/content/output/complete_mortality_rate.csv")
complete_population= pd.read_csv("/content/output/complete_population.csv")
complete_rural_population= pd.read_csv("/content/output/complete_rural_population.csv")
complete_schooling= pd.read_csv("/content/output/complete_schooling.csv")
complete_urban_population= pd.read_csv("/content/output/complete_urban_population.csv")

**DATA INTEGRATION**

integrate all individual cleaned/imputed datasets into a single complete dataset

before running this code create a folder called "**final**". The files will be saved to that folder.

In [ ]:
merge1_df = pd.merge(complete_athetits, complete_birth_rate, on=['Code', 'Year','Entity', 'region'], how='inner')
merge2_df = pd.merge(merge1_df, complete_child_mortality,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge3_df = pd.merge(merge2_df, complete_consumer,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge4_df = pd.merge(merge3_df, complete_female_labor_force,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge5_df = pd.merge(merge4_df, complete_fertility_rate,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge6_df = pd.merge(merge5_df, complete_gdp,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge7_df = pd.merge(merge6_df, complete_gdp_per_capita,  on=['Code', 'Year','Entity', 'region'], how='inner')

merge8_df = pd.merge(merge7_df, complete_life_expectancy,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge9_df = pd.merge(merge8_df, complete_mortality_rate,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge10_df = pd.merge(merge9_df, complete_population,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge11_df = pd.merge(merge10_df, complete_rural_population,  on=['Code', 'Year','Entity', 'region'], how='inner')
merge12_df = pd.merge(merge11_df, complete_schooling,  on=['Code', 'Year','Entity', 'region'], how='inner')
mergecomplete_df = pd.merge(merge12_df, complete_urban_population,  on=['Code', 'Year','Entity', 'region'], how='inner')
mergecomplete_df.drop(columns= ["region"], inplace = True)
mergecomplete_df.to_csv('/content/final/complete_dataset.csv', index=False)

# **TRANSFORMATION**

**GENERATE ONE HOT ENCODING FOR TEXT COLUMNS**

In [ ]:
test_df = mergecomplete_df

In [ ]:
def generate_one_hot_encode_dataframe(dataframe, column_name):
  text_column_name = [column_name]
  extracted_text_column = dataframe[text_column_name]

  encoder = OneHotEncoder(sparse = False)
  transformed_text_column = encoder.fit_transform(extracted_text_column)
  encoded_df = pd.DataFrame(transformed_text_column, columns=encoder.get_feature_names_out(text_column_name))

  dataframe.drop(column_name, axis=1, inplace=True)

  one_hot_encoded_df = pd.concat([dataframe,encoded_df], axis = 1)

  return one_hot_encoded_df

save dataset as csv

In [ ]:
encoded_dataframe = generate_one_hot_encode_dataframe(test_df,'Entity')

encoded_dataframe.to_csv('/content/final/one_hot_encoded_data.csv', index=False)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

**SCALE ABSOLUTE POPULATIONS VALUES TO RATIO VLAUES**

In [ ]:
def scale_population_columns(dataframe, list_of_column_names):
  for i in range(len(list_of_column_names)):
    dataframe[list_of_column_names[i]] = dataframe[list_of_column_names[i]]/dataframe['Population']
  return dataframe

save dataset as csv

In [ ]:
list_of_column_names_1 = ['Urban population', 'Rural population']
scaled_population_dataframe = scale_population_columns(encoded_dataframe, list_of_column_names_1)

scaled_population_dataframe.to_csv('/content/final/scaled_population_data.csv', index=False)

**SCALE PERCENTAGE TO [0-1] SCALE**

In [ ]:
def scale_percentage_columns(dataframe, list_of_column_names):
  for i in range(len(list_of_column_names)):
    dataframe[list_of_column_names[i]] = dataframe[list_of_column_names[i]]/100
  return dataframe

save dataset as csv

In [ ]:
list_of_column_names_2 = ['Atheists rate', 'female labor force participation rate', 'Child mortality rate %']
scaled_percentage_dataframe = scale_percentage_columns(encoded_dataframe, list_of_column_names_2)

scaled_percentage_dataframe.to_csv('/content/final/scaled_percentage_data.csv', index=False)

**SCALE MIN-MAX**

In [ ]:
def min_max_scale_columns(dataframe,list_of_column_names):
  min_max_scaler = MinMaxScaler()

  dataframe[list_of_column_names] = min_max_scaler.fit_transform(dataframe[list_of_column_names])
  return dataframe

save dataset as csv

In [ ]:
list_of_column_names_3 = ['Year','GDP','GDP per capita','Consumer price index', 'Period life expectancy', 'Death rate', 'Population','Average years of education']
min_max_scaled_dataframe = min_max_scale_columns(encoded_dataframe, list_of_column_names_3)

min_max_scaled_dataframe.to_csv('/content/final/min_max_scaled_data.csv', index=False)

**drop unwanted columns**

In [ ]:
columns_to_drop = ['Code','Fertility rate']
min_max_scaled_dataframe = min_max_scaled_dataframe.drop(columns = columns_to_drop)

min_max_scaled_dataframe.to_csv('/content/final/fully_transformed_dataset.csv', index=False)

**impute missing values in child mortality column**

missed some values during imputation of child mortality dataset*

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')

final_df = pd.DataFrame(imputer.fit_transform(min_max_scaled_dataframe), columns=min_max_scaled_dataframe.columns)

**put birthrate column as the last column of the dataframe**

In [ ]:
birthrate_column= final_df['Birth rate(pre 1000)']

In [ ]:
final_df = final_df.drop('Birth rate(pre 1000)',axis=1)
final_df['Birth rate(per 1000)'] = birthrate_column

In [ ]:
final_df.to_csv('/content/final/transformed_dataset.csv', index=False)